<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Profile Page</title>
  <link rel="stylesheet" href="profile.css" />
</head>
<body>
   <header>
    <div class="logo">😊</div>
    <nav>
      <a href="../index.html">Home</a>
      <a href="../component/profile.html">Our Profile</a>
      <a href="../index.html#headquarter">Our Headquarters</a>
      <a href="../index.html#message">Message Us</a>
    </nav>
  </header>

  <div class="profile-container">

    <div class="panel">
      <h1>Alfandi Wijaya</h1>
      <p class="role">Student</p>
      <p class="location">📍 Jakarta, Indonesia</p>
      

      <div class="tabs">
        <span class="tab">About</span>
      </div>

      <div class="info-section">
        <h3>Contact Information</h3>
        <p><strong>Phone:</strong> <a href="#">+62 895 0701 3965</a></p>
        <p><strong>E-mail:</strong> <a href="#">alfandiwijaya8@gmail.com</a></p>
        

        <h3>Basic Information</h3>
        <p><strong>Birthday:</strong> September 21, 2005</p>
        <p><strong>Gender:</strong> Male</p>
      </div>
    </div>
  </div>
   <footer>
    <p>Created by Alfandi Wijaya</p>
  </footer>
</body>
</html>
